<nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #093426;">
	<div class="container-fluid">
		<a class="btn btn-primary mx-1" type="submit" href="/">Wild Series</a>
		<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/app/program">Programs</a>
			</li>
			{{ component('navbar') }}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" data-bs-toggle="dropdown" aria-expanded="false">
					Acteurs
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
					<li>
						<a class="dropdown-item" href="/app/actor">Tous les acteurs</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">A-D</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">E-J</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">K-R</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">S-W</a>
					</li>
				</ul>
			</li>
			<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Derniers episodes</button>
		</ul>
		<form class="d-flex">
			<a class="btn btn-success mx-1" type="submit" href="/login">Connexion</a>
			<a class="btn btn-danger mx-1" type="submit" href="/logout">Déconnexion</a>
			<a class="btn btn-warning mx-1" type="submit" href="/register">Register</a>
			<button class="btn btn-dark mx-1" {{ stimulus_action('theme', 'toggleDarkMode') }}>Toggle dark mode</button>
		</form>
	</div>
</nav>
