{% extends 'admin/base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Création nouveau utilisateur</h1>

    {{ include('admin/user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}" class="btn btn-info my-1">Retour à la liste des utilisateurs</a>
{% endblock %}
