{% extends 'app/base.html.twig' %}

{% block title %}
	Tous les acteurs
{% endblock %}

{% block body %}

	<h1 class="text-center my-3">Liste avec tous les acteurs :</h1>

	{% for actor in actors %}
		<div class="card mb-3" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="{{ asset('build/images/home.jpg') }}" class="img-fluid rounded-start" alt="Card image cap">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">{{ actor.name }}</h5>
						<p class="card-text">Some info</p>
						<p class="card-text">
							<a href="{{ path('app_actor_show', {'slug': actor.slug}) }}" class="btn btn-warning">Voir la fiche acteur</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

	<div>
		<a href="{{ path('app_index') }}" class="btn btn-info my-1">Retour à l'accueil</a>
	</div>

{% endblock %}
