<form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Etes-vous sûr/e de vouloir supprimer cette catégorie?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
	<button class="btn btn-danger my-2 mx-4">Effacer</button>
</form>