{% extends 'base.html.twig' %}

{% block title %}
	Toutes les catégories
{% endblock %}

{% block body %}

	<h1 class="text-center my-3">Liste avec toutes les catégories disponibles :</h1>

	{% for category in categories %}
		<div class="card mb-3" style="width: 50rem;">
			<div class=" card-body">
				<h3 class="card-title text-center">{{ category.name }}</h3>
				<p class="card-text">....</p>
				<div class="card-body">
					<a href="{{ path("category_show", {'categoryName': category.name}) }}" class="btn btn-warning">Voir la catégorie</a>
				</div>
			</div>
		</div>
	{% endfor %}

	<div>
		<a href="{{ path('app_index') }}" class="btn btn-info my-1">Retour à l'accueil</a>
	</div>

{% endblock %}
