{% extends 'base.html.twig' %}

{% block title %}Edit Episode{% endblock %}

{% block body %}
    <h1>Editer l'episode</h1>

    {{ include('episode/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('episode/_delete_form.html.twig') }}

    <a href="{{ path('app_episode_index') }}" class="btn btn-info my-2 mx-4">Retour à la liste des episodes</a>
{% endblock %}
