<form method="post" action="{{ path('app_season_delete', {'id': season.id}) }}" onsubmit="return confirm('Etes-vous sûr/e de vouloir supprimer cette saison?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ season.id) }}">
	<button class="btn btn-danger my-2 mx-4">Effacer</button>
</form>
