<form method="post" action="{{ path('app_program_delete', {'id': program.id}) }}" onsubmit="return confirm('Etes-vous sûr/e de vouloir supprimer cette série?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
	<button class="btn btn-danger my-2 mx-4">Effacer</button>
</form>
