{% extends 'base.html.twig' %}

{% block title %}Nouvelle Série{% endblock %}

{% block body %}
    <h1>Création nouvelle série</h1>

    {{ include('program/_form.html.twig') }}

    <a href="{{ path('app_program_index') }}" class="btn btn-info my-1">Retour à la liste des séries</a>
{% endblock %}
