{% extends 'user/base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
   <div class="container d-flex justify-content-center align-items-center">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit">Submit</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
