<form method="post" action="{{ path('admin_episode_delete', {'slug': episode.slug}) }}" onsubmit="return confirm('Etes-vous sûr/e de vouloir supprimer cet episode?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.slug) }}">
    <button class="btn btn-danger my-2 mx-4">Effacer</button>
</form>
