{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau Episode{% endblock %}

{% block body %}
    <h1>Création nouveau episode</h1>

    {{ include('admin/episode/_form.html.twig') }}

    <a href="{{ path('admin_episode_index') }}" class="btn btn-info my-1">Retour à la liste des episodes</a>
{% endblock %}
