<form method="post" action="{{ path('admin_actor_delete', {'slug': actor.slug}) }}" onsubmit="return confirm('Etes-vous sûr/e de vouloir supprimer cet actor?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actor.slug) }}">
	<button class="btn btn-danger my-2 mx-4">Effacer</button>
</form>
