<form method="post" action="{{ path('admin_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Etes-vous sûr/e de vouloir supprimer ce commentaire?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
	<button class="btn btn-danger my-2 mx-4">Effacer</button>
</form>
