<form method="post" action="{{ path('admin_category_delete', {'slug': category.slug}) }}" onsubmit="return confirm('Etes-vous sûr/e de vouloir supprimer cette catégorie?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.slug) }}">
	<button class="btn btn-danger my-2 mx-4">Effacer</button>
</form>
