<form method="post" action="{{ path('admin_season_delete', {'slug': season.slug}) }}" onsubmit="return confirm('Etes-vous sûr/e de vouloir supprimer cette saison?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ season.slug) }}">
	<button class="btn btn-danger my-2 mx-4">Effacer</button>
</form>
