    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="btn btn-outline-primary">Logo</button>
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Wild Series</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/program">Programs</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn btn-outline-info" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Catégories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="/category">Toutes les catégories</a></li>
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Aventure</a></li>
                    <li><a class="dropdown-item" href="#">Animation</a></li>
                    <li><a class="dropdown-item" href="#">Biographique</a></li>
                    <li><a class="dropdown-item" href="#">Comedie</a></li>
                    <li><a class="dropdown-item" href="#">Documentaire</a></li>
                    <li><a class="dropdown-item" href="#">Drame</a></li>
                    <li><a class="dropdown-item" href="#">Fantastique</a></li>
                    <li><a class="dropdown-item" href="#">Historique</a></li>
                    <li><a class="dropdown-item" href="#">Horreur</a></li>
                    <li><a class="dropdown-item" href="#">Pourquoi Bon Dieu</a></li>
                    <li><a class="dropdown-item" href="#">Policier</a></li>
                    <li><a class="dropdown-item" href="#">Science-fiction</a></li>
                </ul>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn btn-outline-secondary" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Acteurs
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="#">A-D</a></li>
                    <li><a class="dropdown-item" href="#">E-J</a></li>
                    <li><a class="dropdown-item" href="#">K-R</a></li>
                    <li><a class="dropdown-item" href="#">S-W</a></li>
                </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link active aria-current="page" href="#">Mes Favoris</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-success" type="submit">Connexion</button>
                <button class="btn btn-outline-warning" type="submit">Register</button>
            </form>
            </div>
        </div>
    </nav>