<nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #093426;">
	<div class="container-fluid">
		<button class="btn btn-primary mx-1 disabled">Wild Series</button>
		<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/">Wild Series</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/program">Programs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/season">Seasons</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/episode">Episodes</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" data-bs-toggle="dropdown" aria-expanded="false">
					Catégories
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
					<li>
						<a class="dropdown-item" href="/category">Toutes les catégories</a>
					</li>
					<li>
						<a class="dropdown-item" href="/category/Action">Action</a>
					</li>
					<li>
						<a class="dropdown-item" href="/category/Aventure">Aventure</a>
					</li>
					<li>
						<a class="dropdown-item" href="/category/Animation">Animation</a>
					</li>
					<li>
						<a class="dropdown-item" href="/category/Comédie">Comédie</a>
					</li>
					<li>
						<a class="dropdown-item" href="/category/Drame">Drame</a>
					</li>
					<li>
						<a class="dropdown-item" href="/category/Fantastique">Fantastique</a>
					</li>
					<li>
						<a class="dropdown-item" href="/category/Horreur">Horreur</a>
					</li>
					<li>
						<a class="dropdown-item" href="/category/Pourquoi Bon Dieu">Pourquoi Bon Dieu</a>
					</li>
					<li>
						<a class="dropdown-item" href="/category/Policier">Policier</a>
					</li>
					<li>
						<a class="dropdown-item" href="/category/Science-fiction">Science-fiction</a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" data-bs-toggle="dropdown" aria-expanded="false">
					Acteurs
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
					<li>
						<a class="dropdown-item" href="/actor">Tous les acteurs</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">A-D</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">E-J</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">K-R</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">S-W</a>
					</li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">Mes Favoris</a>
			</li>
		</ul>
		<form class="d-flex">
			<button class="btn btn-success mx-1" type="submit" href="#">Connexion</button>
			<button class="btn btn-warning mx-1" type="submit" href="#">Register</button>
		</form>
	</div>
</nav>
