{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<h1>{{ text }}</h1>
<img src="{{ asset('build/images/jim-carrey-funny.gif') }}" alt="Jim Carrey"/>
{% endblock %}