{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
<h1>{{ text }}</h1>
<img src="{{ asset('build/images/pexels-pixabay-274937.jpg') }}" alt="home"/>
{% endblock %}